<!DOCTYPE configuration>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yy-MM-dd HH:mm:ss.SSS} [%.-1level] [%class:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.zaxxer" level="INFO" />



	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>


</configuration>
